<a href="https://colab.research.google.com/github/Adeena-Imran/Assignment-7/blob/main/assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON ASSIGNMENT LIST TUPLES AND METHODS

APPEND METHOD

In [ ]:
numbers:list[int]=[1, 2, 3, 4, 5]
print(numbers)
numbers.append(6)
print(numbers)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

EXTEND METHOD

In [ ]:
numlist2:list=[1, 2, 3]
print(numlist2)
numlist2.extend([4, 5, 6])
print(numlist2)

[1, 2, 3]
[1, 2, 3, 4, 5, 6]

INSERT METHOD

In [ ]:
languages:list= ["Java", "C++", "JavaScript", "Ruby"]
print(languages)
languages.insert(2, "Python")
print(languages)

['Java', 'C++', 'JavaScript', 'Ruby']
['Java', 'C++', 'Python', 'JavaScript', 'Ruby']

REMOVE FIRST OCCOURANCE OF NO.10

In [ ]:
numlist3:list=[10, 20, 30, 10, 40]
print(numlist3)
numlist3.pop(0)
print(numlist3)

[10, 20, 30, 10, 40]
[20, 30, 10, 40]

POP METHOD

In [ ]:
numlist4:list=[100, 200, 300, 400]
print(numlist4)
numlist4.pop()
print(numlist4)

[100, 200, 300, 400]
[100, 200, 300]

COUNT METHOD

In [ ]:
numlist5:list=[5, 10, 5, 20, 5, 30]
print(numlist5.count(5))

3

SORT IN ASCENDING AND DESCENDING ORDER

In [ ]:
numb:list=[9, 1, 8, 3, 5]
numb.sort()
print("Ascending order" ,numb)
numb.sort(reverse=True)
print("Descending order", numb)

Ascending order [1, 3, 5, 8, 9]
Descending order [9, 8, 5, 3, 1]

REVERSE METHOD

In [ ]:
fruits:list=["apple", "banana", "cherry"]
fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

COPY AND STORE METHOD

In [ ]:
list1:list= [1, 2, 3, 4, 5]
copied_list = list1.copy()
copied_list.append(6)
print("Original list", list1)
print("Copied list", copied_list)

Original list [1, 2, 3, 4, 5]
Copied list [1, 2, 3, 4, 5, 6]

CLEAR METHOD

In [ ]:
words:list=["hello", "world", "python"]
words.clear()
print(words)

[]

TUPLE QUESTION NO.1

In [ ]:
fruit:list=["mango", "cherry", "kiwi", "orange", "apple"]
print(fruit[2])

kiwi

TUPLE QUESTION NO.2

In [ ]:
tup=(10, 20, 30, 40, 50)
tup_list=list(tup)
print("With 30", tup_list)
tup_list.remove(30)
new_tup = tuple(tup_list)
print("Removed 30", new_tup)

With 30 [10, 20, 30, 40, 50]
Removed 30 (10, 20, 40, 50)

TUPLE QUESTION NO.3         :
Tuples in Python are immutable, which means we cannot directly append elements to a tuple like we can with lists. Instead, we can make a new tuple by joining the original tuple with another one.

In [ ]:
tup2=("A", "B", "C")
tup_new=tup2 + ("D",)
print(tup_new)

('A', 'B', 'C', 'D')

TUPLE QUESTION NO.4

In [ ]:
tup3 = (100, 200, 300)
var1, var2, var3 = tup3
print(var1)
print(var2)
print(var3)

100
200
300

TUPLE QUESTION NO.5

In [ ]:
tup4 = (7, 1, 7, 3, 7, 5)
print(tup4.count(7))

3

ADVANCED QUESTION NO.1

In [ ]:
def odd_list(input_list):
      return [num for num in input_list if num % 2 != 0]
new_list = [1, 2, 3, 4, 5, 6, 7, 8]
answer = odd_list(new_list)
print(answer)

[1, 3, 5, 7]

ADVANCED QUESTION NO.2

In [ ]:
def descending_list(input_list):
  return sorted (input_list, reverse= True)
my_list = [4, 1, 7, 9, 3, 2, 8]
answer = descending_list(my_list)
print(answer)

[9, 8, 7, 4, 3, 2, 1]

ADVANCED QUESTION NO.3  :
We use set method because it automatically remove duplicates from the list.

In [ ]:
def remove(input_list):
  unique_list =list(set(input_list))
  return (unique_list)
my_list2 = [1, 2, 3, 1, 4, 5, 3, 4, 6, 7, 8, 8, 9]
answer = remove(my_list2)
print(answer)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

ADVANCED QUESTION NO.4

In [ ]:
names= ("Alice", "Bob", "Charlie", "Alice", "David")
names_list=list(set(names))
print("Names List", names_list)
name_tup = tuple(names_list)
print("In Tuple", name_tup)

Names List ['Bob', 'Charlie', 'Alice', 'David']
In Tuple ('Bob', 'Charlie', 'Alice', 'David')

ADVANCED QUESTION NO.5

In [ ]:
mixed_list = [10, "Hello", 3.25, 95, "World", 72, 5.22, "Python"]
integers_list = [num for num in mixed_list if isinstance(num, int)]
strings_list = [num for num in mixed_list if isinstance(num, str)]
floats_list = [num for num in mixed_list if isinstance(num, float)]

# Print the result
print("Integers List:", integers_list)
print("Strings List:", strings_list)
print("Floats List:", floats_list)

Integers List: [10, 95, 72]
Strings List: ['Hello', 'World', 'Python']
Floats List: [3.25, 5.22]

In [ ]:
x=1
x<<5

32